<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>File Vault - Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

	<div>
		<span th:text="${param.error}">ERROR</span>
	</div>

	<form th:action="@{/public/login}" th:object="${securityUser}" method="POST">
	
		<input placeholder="Username" th:field="*{username}">
		<input type="password" placeholder="Password" th:field="*{password}">
		
		<button type="submit">Iniciar sesión</button>
	
	</form>

</body>

</html>